body {
    padding: 0;
    margin: 0;
}

.header {
    height: 70px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-bar {
    margin: 0 auto;
    width: 30%;
}

.search-bar input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 4px;
}

.search-bar input:focus {
    outline: none;
}

.content {
    display: flex;
}

.content .left-column, .content .right-column {
    max-width: 300px;
    height: calc(100vh - 71px);
    flex: 1;
}

.content .left-column {
    border-right: 1px solid #cccccc;
}

.content .right-column {
    border-left: 1px solid #cccccc;
    overflow-x: scroll;
}

.content .right-column .videos-list {
    padding: 10px 20px;
}

.content .right-column .videos-list .video-thumb {
    width: 100%;
    height: 130px;
    border: 1px solid #cccccc;
}

.content .right-column .videos-list .video-thumb-item .video-thumb-title {
    margin-top: 5px;
}

.content .right-column .videos-list .video-thumb-item + .video-thumb-item {
    margin-top: 15px;
}

.main-column {
    flex: 1;
}